fieldset {
        font-family: helvetica;
        font-size: 100%;
        margin-top: 4%;
        color: green;
}
input[type=number] {
    width: 50%;
    resize: vertical;
    border-color: transparent;
    border-width: 5px;
    font-size: 100%;
}
.edisp {
    display: inline-block;
    color: red;
}
.container {
    margin: auto;
    width: 40%;
}
.topcontainer {
    margin: auto;
    text-align: center;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
} 
.returns {
    display: inline-block;
    color: black;
    margin-top: 4%;
}
.stype {
    margin-top: 4%;
}